<head>
  <link rel="stylesheet" href="/css/style.css">
</head>
<header>
  <h1>Welcome to the Blog</h1>
  {{#if logged_in}}
    <p>You are logged in as {{username}}</p>
    {{!-- <a href="/">Go to Dashboard</a>
    <form id="logout-form" action="/api/users/logout" method="POST"> --}}
      {{!-- <button type="submit">Logout</button> --}}
    </form>
  {{else}}
    {{!-- <a href="/login">Login</a> --}}
  {{/if}}
</header>
